main {
    overflow-x: hidden;
    overflow-y: scroll;

    height: fit-content;
    max-height: 100vh;
    width: 85%;
    padding: 2.5rem;
}

.card {
    height: 35vh;
    width: calc(50% - 1.5rem);
}

.cardAdd {
    order: -1;
    background-color: #8325ff56;
    border: 2px solid var(--Secondary);
}