:root {
    --Primary: #FF7E2A;
    --Secondary: #8525FF;
    --Background: #F3F1FF;
    --Black: #121212;
    --White: #FFFFFF;

    --TextColor: #243152;
    --Shadow: 0 2px 4px #52525263;
}

main {
    height: 100vh;
    background-color: var(--Background);
}

nav {
    background-color: var(--White);
}
