@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", "Arial", sans-serif;
    color: var(--TextColor);
}

:root {
    --Primary: #FF7E2A;
    --Secondary: #8525FF;
    --Background: #F3F1FF;
    --Black: #121212;
    --White: #FFFFFF;

    --TextColor: #243152;
    --Shadow: 0 2px 4px #52525263;
}

body {
    height: 100vh;
    background-color: var(--Background);
    background-image: url("../img/background-keys.svg");
}

/* MAIN */

main {
    height: 100%;
    position: absolute;
    right: 0;
}

h1 {
    padding: 0;
    margin: 0;
    text-decoration: underline 1px black;
    text-underline-offset: 0.5rem;
}

.card-info {
    height: 10rem;
    box-shadow: var(--Shadow);
}

.card-table {
    box-shadow: var(--Shadow);
}

.card-employer {
    height: 25rem;
    box-shadow: var(--Shadow);
}

.inputSearch {
    background-color: var(--Background);
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.inputSearch input {
    position: relative;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    
}

th {
    background-color: red;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: black;
}


/* NAV */
nav {
    background-color: var(--White);
    position: fixed;
    left: 0;
    height: 100vh;
}

.pageOption a {
    color: var(--Black);
}

.pageOption {
    transition: 0.2s;
}

nav .pageOption:hover {
    transform: translateX(8px);
    background-color: var(--Background);
}

nav .pageOption img {
    height: 18px;
    width: 18px;
}

hr {
    width: 100%;
    background-color: #767676;
}

.paragraph01 {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
}

.paragraph02 {
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
